In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
g_key = 'AIzaSyBkhqoJMKX51tsCHOkbyj8rmuojcJ9wemE'

In [23]:
cities_df = pd.read_csv("output_files\weather_vs_latitude.csv")
del cities_df['Unnamed: 0']

cities_df.head(10)

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,nikolskoye,45,179,12.056,92,75,6.00
1,bredasdorp,-59,20,69.800,68,100,2.57
2,ferkessedougou,10,-5,80.042,45,55,1.79
3,bluff,-56,166,58.442,86,99,3.64
4,okha,55,147,8.744,94,100,8.03
5,agua prieta,31,-109,40.946,39,0,1.34
6,butaritari,6,176,81.500,80,98,8.76
7,gualaco,15,-86,66.920,92,58,0.87
8,new norfolk,-51,140,59.270,47,3,1.34
9,longyearbyen,84,20,19.400,73,75,6.69

In [43]:
gmaps.configure(g_key) 
locations = cities_df[["Latitude", "Longitude"]]
humidity = cities_df['Humidity']

In [44]:

fig = gmaps.figure(center = (20,0), zoom_level=2.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=350,
                                 point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
clouds = cities_df['Cloudiness']
temp = cities_df['Temperature']
wind = cities_df['Wind Speed']

ideal_df = cities_df.loc[(clouds < 10)]
ideal_df = ideal_df.loc[(temp > 75) & (temp < 85)]
ideal_df = ideal_df.loc[(wind < 10)]
ideal_df.dropna()

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
45,saint-philippe,-33,57,83.930,62,0,5.14
70,narnaul,28,76,75.704,22,0,4.72
104,karratha,-16,115,84.038,52,0,6.37
105,vao,-26,173,78.368,84,0,3.79
153,kavaratti,10,71,81.770,63,0,3.57
190,saint-joseph,-25,55,84.002,62,0,5.14
210,sola,-14,171,82.418,72,8,3.70
220,jiaocheng,27,119,84.326,24,0,1.32
232,ippy,6,21,79.682,16,0,2.92
263,poum,-22,160,81.086,68,2,2.21
267,aketi,3,23,80.762,22,0,1.70
273,makhu,31,75,76.172,21,0,3.34
301,kruisfontein,-46,26,78.998,57,0,4.02
351,griffith,-33,146,81.734,32,0,5.14
375,dalbandin,28,64,76.388,12,0,2.73
419,kyaikkami,16,97,83.228,58,0,5.50
489,abu dhabi,25,53,75.200,46,0,4.12

In [49]:
# Add Hotel Name Column and rearrange for readability
ideal_df['Hotel Name'] = ''
ideal_df['Hotel Address'] = ''
hotel_df = ideal_df[['City','Hotel Name', 'Hotel Address',
                     'Humidity', 'Latitude', 'Longitude', 'Temperature', 'Wind Speed']]

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        hotel_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [52]:
hotel_df.loc[hotel_df['Hotel Name'] != '']

,City,Hotel Name,Hotel Address,Humidity,Latitude,Longitude,Temperature,Wind Speed
220,jiaocheng,pingnashenghebinguan,屏南双溪镇双溪村环城东路1 4号,24,27,119,84.326,1.32

In [54]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Latitude"]]

In [55]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)


fig

Figure(layout=FigureLayout(height='420px'))